<div class="footer_container d-flex flex-row justify-content-end">
    <div class="footer_item1 d-flex align-items-center">
        <p>Contact us</p>
    </div>
    <div class="footer_item2">
        <p>(+84) 23124124</p>
        <p>example@gmail.com</p>
        <p>123 Street, Ho Chi Minh City</p>
    </div>
    <div class="footer_item3 d-flex flex-row align-items-center">
        <img src="./images/facebook_circle-512.png" alt="facebook">
        <img src="./images/twitter_circle_color-512.png" alt="twitter">
    </div>
</div>

