<title>Addbook</title>
<div class="header">
    <div class="header_logo">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row">
                    <a href="/">
                        <img class="logo_img" src="/public/images/logo-khtn-full.png" alt="logo">
                    </a>
                </div>
            </div>

            <div class="col-3 d-flex align-items-end">
                <div class="account-btn d-flex flex-column m-t-20 d-flex">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i style="margin-right:7px " class="fa fa-user"></i> Nguyen Huu Tuan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/users/profile/{{username}}">Quản lý tài khoản</a>
                        <a class="log-out-btn dropdown-item" href="/users/logout">Đăng xuất</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>
<h2 class="header_font">Thêm sách</h2>
<form>
    <div class="form-group">
        <label for="Bookname">Nhập tên sách</label>
        <input type="text" class="form-control " id="Bookname" placeholder="Tên sách">
    </div>

    <div class="form-group">
        <label for="Authorname">Nhập tên tác giả</label>
        <input type="text" class="form-control " id="Authorname" placeholder="Tên tác giả">
    </div>

    <div class="form-group">
        <label for="Booktype">Nhập thể loại</label>
        <input type="text" class="form-control " id="Booktype" placeholder="Thể loại">
    </div>
    </div>
    <div class="form-group">
        <label for="Bookconttent">Mô tả sách</label>
        <textarea class="form-control " id="Bookconttent" rows="3" placeholder="Mô tả"></textarea>
    </div>
    <div class="form-group">
        <label for="Bookcover">Bìa sách</label>
        <button><i class="fa fa-upload fa-2x" id="upload"></i></button>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Thêm sách</button>
</form>