<title>Addbook</title>
<h2 class="header_font">Thêm sách</h2>
<form>
    <div class="form-group">
        <label for="Bookname">Nhập tên sách</label>
        <input type="text" class="form-control " id="Bookname" placeholder="Tên sách">
    </div>

    <div class="form-group">
        <label for="Authorname">Nhập tên tác giả</label>
        <input type="text" class="form-control " id="Authorname" placeholder="Tên tác giả">
    </div>

    <div class="form-group">
        <label for="Booktype">Nhập thể loại</label>
        <input type="text" class="form-control " id="Booktype" placeholder="Thể loại">
    </div>
    </div>
    <div class="form-group">
        <label for="Bookconttent">Mô tả sách</label>
        <textarea class="form-control " id="Bookconttent" rows="3" placeholder="Mô tả"></textarea>
    </div>
    <div class="form-group">
        <label for="Bookcover">Bìa sách</label>
        <button><i class="fa fa-upload fa-2x" id="upload"></i></button>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Thêm sách</button>
</form>