<title>Admin</title>
<div>
    <h2 class="header_font">Quản lý sách</h2>
    <div class="d-flex col">
        <div class="adminsearch">
            <input class="adminsearchtextbox" type="text" name="search" placeholder="Tên sách, tên tác giả"></input>
            <button id="submitFormsBtn" class="btn btn-link search_btn" type="button">
                <img src="images/search_button.png" alt="search_button">
            </button>
        </div>
        <button class="upload"><i class="fa fa-upload fa-2x"></i></button>
        <button class="add"><i class="fa fa-plus fa-2x"></i></button>
    </div>
    <table>
        <tr>
            <th width="200">Tiêu đề</th>
            <th width="200">Tác giả</th>
            <th>Mô tả</th>
            <th width="120">Số lượng</th>
            <th width="120">Ngôn ngữ</th>
            <th width="110">Chỉnh sửa</th>
        </tr>
        <tr>
            <td>Qua môn web</td>
            <td>Tuấn and his friend</td>
            <td>Một câu chuyện về 2 thằng đang cố gắng qua được môn web</td>
            <td>1</td>
            <td>Tiếng việt</td>
            <td><button data-toggle="modal" data-target="#confirmdelete" class="deletebook"><i
                        class="fa fa-trash"></i></button><button class="editbook"><i class="fa fa-edit"></i></button>
            </td>
            <div class="modal" id="confirmdelete">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Xóa sách</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Bạn có chắc chắn muốn xóa cuốn sách này
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Không</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Có</button>
                        </div>

                    </div>
                </div>
            </div>
        </tr>
    </table>

    </nav>
</div>