<title>Admin</title>
<div class="header">
    <div class="header_logo">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row">
                    <a href="/">
                        <img class="logo_img" src="/public/images/logo-khtn-full.png" alt="logo">
                    </a>
                </div>
            </div>

            <div class="col-3 d-flex align-items-end">
                <div class="account-btn d-flex flex-column m-t-20 d-flex">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i style="margin-right:7px " class="fa fa-user"></i> Nguyen Huu Tuan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/users/profile/{{username}}">Quản lý tài khoản</a>
                        <a class="log-out-btn dropdown-item" href="/users/logout">Đăng xuất</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>
<div>
    <h2 class="header_font">Quản lý sách</h2>
    <div class="d-flex col">
        <div class="adminsearch">
            <input class="adminsearchtextbox" type="text" name="search" placeholder="Tên sách, tên tác giả"></input>
            <button id="submitFormsBtn" class="btn btn-link search_btn" type="button">
                <img src="images/search_button.png" alt="search_button">
            </button>
        </div>
        <i class="fa fa-upload fa-2x upload"></i>
        <i class="fa fa-plus fa-2x add"></i>
    </div>
    <table>
        <tr>
            <th width="200">Tiêu đề</th>
            <th width="200">Tác giả</th>
            <th>Mô tả</th>
            <th width="120">Số lượng</th>
            <th width="120">Ngôn ngữ</th>
            <th width="110">Chỉnh sửa</th>
        </tr>
        <tr>
            <td>Qua môn web</td>
            <td>Tuấn and his friend</td>
            <td>Một câu chuyện về 2 thằng đang cố gắng qua được môn web</td>
            <td>1</td>
            <td>Tiếng việt</td>
            <td><i class="fa fa-trash trashicon"></i><i class="fa fa-edit"></i></td>
        </tr>
    </table>

    </nav>
</div>