<title>Intro</title>
<div class="body">
    <div class="row">
        <div class="col">
            <h5 class="header_font">
                GIỚI THIỆU THƯ VIỆN KHOA CÔNG NGHỆ THÔNG TIN - ĐẠI HỌC KHOA HỌC TỰ NHIÊN.
            </h5>
            <h6>Địa chỉ: </h6>
            <p>*Cơ sở 1:<br>
                - 227 Nguyễn Văn Cừ, Quận 5, TP. Hồ Chí Minh<br>
                *Cơ sở 2:<br>- Linh Trung , Quận Thủ Đức, TP.HCM
            </p>

            <h6>Quan điểm: </h6>
            <p>
                Giá trị thư viện không phải ở chỗ thư viện có bao nhiêu tài nguyên thông tin mà là thư viện đáp ứng
                nhu
                cầu
                thông tin
                một cách có hiệu quả như thế nào từ nhiều nguồn ở khắp nơi thông qua công nghệ mới.
            </p>

            <h6>Quan điểm: </h6>
            <p>
                Giá trị thư viện không phải ở chỗ thư viện có bao nhiêu tài nguyên thông tin mà là thư viện đáp ứng
                nhu
                cầu
                thông tin
                một cách có hiệu quả như thế nào từ nhiều nguồn ở khắp nơi thông qua công nghệ mới.
            </p>

            <h6>Mục tiêu: </h6>
            <p>
                Thư viện ĐH Khoa học Tự nhiên được thành lập trên quan điểm hiện đại và sử dụng công nghệ mới tạo
                điều
                kiện tiếp
                cận và
                truy hồi thông tin một cách dễ dàng, cũng như đáp ứng mọi yêu cầu thông tin cho mọi đối tượng độc
                giả.
            </p>

            <h6>Nhiệm vụ: </h6>
            <p>
                - Phục vụ yêu cầu học tập, giảng dạy nghiên cứu của sinh viên, giảng viên và nhà nghiên cứu thuộc
                trường
                ĐH Khoa
                học Tự
                nhiên và ĐH Quốc Gia Tp. Hồ Chí Minh<br>
                - Đáp ứng yêu cầu thông tin của mọi đối tượng độc giả
            </p>

            <h6>Nhân sự: </h6>

            <div class="row">
                <img class="col-md-3 avatar_staff" src="./images/avatar-staff.jpg">
                <div class="col-md-9 conttent">
                    <br>
                    <p><b style="font-family: Calistoga">Họ và tên:</b>
                        Nguyễn Hữu Tuấn
                    </p>
                    <p><b style="font-family: Calistoga">Giới tính:</b>
                        Nam
                    </p>
                    <p><b style="font-family: Calistoga">Chức vụ:</b>
                        Sinh viên
                    </p>
                </div>
            </div>
        </div>
        {{>news_collapsed}}
        </div>
    </div>
</div>