<title>News</title>
<div class="body">
    <div class="row">
        <div class="col">
            <div class="row news">
                <div class="col-md-2">
                    <img class="avatar" src="./images/news.jpg"></img>
                </div>
                <div class="col-md-10 conttent">
                    <h5 class="header_font">Sách mới</h5>
                    <p>Một cuốn sách bổ ích cho các bạn đang theo học môn kĩ thuật lập trình. Đã được thêm vào tủ
                        sách của thư viện</p>
                </div>
            </div>

            <div class="row news">
                <div class="col-md-2">
                    <img class="avatar" src="./images/news2.jpg"></img>
                </div>
                <div class="col-md-10 conttent">
                    <h5 class="header_font">Cập nhật phiên bản</h5>
                    <p>The algorithm design nay đã có phiên bản 7 đã được thêm vào tủ sách của thư viện</p>
                </div>
            </div>

            <div class="row news">
                <div class="col-md-2">
                    <img class="avatar" src="./images/close.jpg"></img>
                </div>
                <div class="col-md-10 conttent">
                    <h5 class="header_font">Thông báo</h5>
                    <p>Thư viện sẽ đóng cửa nghỉ tết từ ngày 20/1 và mở cửa lại vào 10/2 .</p>
                </div>
            </div>

            <nav aria-label="...">
                <ul class="pagination d-flex justify-content-start">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        {{>news_collapsed}}
    </div>
</div>