<title>News</title>
<div class="body">
    <div class="row">
        <div class="col">
            {{#each news}}
            <div class="row news">
                <div class="col-md-2">
                    <img class="avatar" src="{{imgPath}}"></img>
                </div>
                <div class="col-md-10 conttent">
                    <h5 class="header_font">{{title}}</h5>
                    <p>{{content}}</p>
                </div>
            </div>
            {{/each}}
            <nav class="d-flex justify-content-center" aria-label="..." id="pagination">
                {{{ createPagination pagination leftText="Prev" rightText="Next" paginationClass="pagination"}}}
            </nav>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#pagination li").addClass('page-item');
        $("#pagination li a").addClass('page-link');
        let savePage = urlParams.get('page');
        $("#pagination li a").each((index,item)=>{
            let page = $(item).attr('href').split('=')[1];
            urlParams.set('page', page);
            let href = '/news?' + urlParams.toString();
            $(item).attr('href', href);
        })
        urlParams.set('page', savePage);
    });

    let urlParams = new URLSearchParams(location.search);
    let params = {
        page : 1,
        limit: 4
    }   

    for (let key in params) {
        if (!urlParams.has(key)) {
            urlParams.append(key, params[key]);
        }
    }
</script>