<div class="body">
    <div class="row">
        <form class="col" action="/support/send" method="POST">
            <h4 class="header_font">Ý KIẾN ĐÓNG GÓP</h4>
            <div style=" width: 800px; font-size: 18px; font-weight:500; font-style:italic; color: red;">
                {{msg}}
            </div>
            <br>
            <div class="area">
                <p class="text">Họ và tên: </p>
                <input type="text" name="fullname" class="inputarea"></input>
            </div>
            <div class="area">
                <p class="text">Đóng góp của bạn: </p>
                <textarea name="comment" class="cmtarea" placeholder="Viết đóng góp của bạn"></textarea><br>
                <button type="submit" class="btn btn-primary header_btn send-comment">Gửi đóng góp</button>
                <div class="row comment">
                </div>
            </div>
        </form>
        {{>news_collapsed}}
    </div>
</div>