<div class="body">
    <div class="row">
        <div class="col">
            <h5 class="header_font">Ý KIẾN ĐÓNG GÓP</h5>
            <div class="area">
                <p class="text">Họ và tên: </p>
                <textarea class="inputarea"></textarea>
            </div>
            <div class="area">
                <p class="text">Email: </p>
                <textarea class="inputarea"></textarea>
            </div>
            <div class="area">
                <p class="text">Đóng góp của bạn: </p>
                <textarea class="cmtarea" placeholder="Viết đóng góp của bạn"></textarea><br>
                <button type="button" class="btn btn-primary header_btn send-comment">Gửi đóng góp</button>
                <div class="row comment">
                </div>
            </div>
        </div>
        {{>news_collapsed}}
    </div>
</div>