.header_font {
	font-family: "Calistoga";
}

p {
	font-family: "Asap";
}

.container-fluid {
	padding: 20px 50px !important;
}

.header {
	margin-right: 70px;
}

.logo_img {
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.header_btn {
    margin-top: 30px;
    margin-bottom: 10px;
}

#signoutBtn, .profile-btn {
    max-width: 50%;
    margin-left: 5rem;
}

.nav {
	border: 0.5px solid gray;
	border-radius: 5px;
}

.nav-link {
	color: black !important;
	padding: 5px 20px !important;
}

.search_box {
    width: 250px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid red;
    font-size: 18px;
}

.search-textbox {
    border: none;
    border-color: transparent;
    height: 34px;
    width: 190px;
    margin-left: 5px;
}

.search-textbox:focus {
    outline-width: 0;
}


.search_btn {
	float: right;
}

.header {
	border-bottom: ridge;
	padding-bottom: 10px;
}

.news {
	padding: 10px;
}

.news_container {
	margin-right: 20px;
}

.news_border {
	border: 1.5px solid black;
	border-radius: 10px;
}

.header_news {
	margin-bottom: 20px;
}

.read_more {
	margin-top: 15px;
}

.body {
	margin: 50px;
}

.footer_item1 {
	margin-right: 20px;
}

.footer_item1 p {
	font-family: "Asap";
	font-weight: bold;
}

.footer_item2 {
	margin-right: 100px;
}

.footer_item3 {
	margin-right: 30px;
}

.footer_item3 img {
	max-width: 35px;
	max-height: 35px;
}

.footer_item3 img:first-child {
	margin: 0 20px;
}

.footer_container {
	background-color: bisque;
	padding: 10px 0;
	margin-top: 40px;
}
